{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@zaydek/duomo@0.7.9/dist/duomo-full.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title>NOSSAFLEX DB</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>
    <div id="duomo-root">
        {% block content %} {% endblock %}
    </div>
</body>

</html>